.App {
  text-align: center;
  background-color: rgb(43, 37, 37);
}
.feedcontainer{
  display: flex; 
  flex-direction: row; 
  justify-content: space-between;
}
.navbar {
  background-color: rgb(68, 68, 68);
  float: left;
  justify-content:center;
  text-align: center;
  width: 25vw;
  height: 100vh;
}
.scroll-div {
  border-radius: 10px;
  border-color: red;
  margin-right:5% auto;
  width: 50vw;
  height: 100vh;  
  overflow: hidden;
  overflow-y: scroll; 
  
}
.scroll-div::-webkit-scrollbar {
  display: none;
}
.scroll-object{
  
}

.map-container {
  height:95vh;
  width: 60vw;
}
.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  margin: 12px;
  border-radius: 4px;
}

