.App {
  text-align: center;
  background-color: rgb(43, 37, 37);
}
.feedcontainer{
  display: flex; 
  flex-direction: row; 
  justify-content: space-between;
}
.navbar {
  background-color: rgb(68, 68, 68);
  float: left;
  justify-content:center;
  text-align: center;
  width: 25vw;
  height: 100vh;
}
.scroll-div {
  border-radius: 10px;
  border-color: red;
  margin-right:5% auto;
  width: 50vw;
  height: 100vh;  
  overflow: hidden;
  overflow-y: scroll; 
  
}
.scroll-div::-webkit-scrollbar {
  display: none;
}
.scroll-object{
  
}
