.App {
  text-align: center;
  background-color:  #111213ff
}

.feedcontainer{
  display: flex; 
  flex-direction: row; 
  justify-content: space-between;
}

p {
  text-align: left;
  padding-left: 8px;
  margin-left: 50px;
  color: white;
}

.scroll-div {
  background:  #212224ff;
}


.navbar {
  background-color: #111213ff;
  float: left;
  /* justify-content:center; */
  text-align: center;
  width: 25vw;
  height: 100vh;
}
.navbar button {
   font-size: 30px;
   background: none;
border: none;
color: #0c497e;
}
.navbar ul{
  list-style: none;
  margin-top: 50px;
  margin-left: 8vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.navbar li {

  margin: 30px;
  margin-bottom: 0px;
}
.scroll-div {
  border-radius: 10px;
  border-color: red;
  margin-right:5% auto;
  width: 50vw;
  height: 100vh;  
  overflow: hidden;
  overflow-y: scroll; 
  
}
.scroll-div::-webkit-scrollbar {
  display: none;
}
.scroll-object{
  
}

.map-container {
  height:95vh;
  width: 53vw;
  float: left;
}
.mapSubmit{
  float: right;
  display: flex;
  align-items: center;
  height: 100vh;
  margin-left: 50px;
}
.mapSubmit ul {
border: none;
}
.mapSubmit li {
  margin-top: 60px;
  }
.mapSubmit button {
  height: 40px;
}
.mapSubmit input {
  height: 50px;
  margin: 10px;
}
.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  margin: 12px;
  border-radius: 4px;
}
.contentTop{
display: flex;
max-width: 100vw;
}
.LocalList {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(207, 207, 207);
 justify-content: center;
}
.location {
  width: 25vw;
  margin-top: 29px;
  margin-left: 20px;
}
.location img {
  max-width: 20vw;
}
.profile {
 height: 100vh;
}
.profiletop{
  margin-left: 30vw;
}
.profilecontent img{
  max-width: 20vw;
  margin-inline: 20px;
}
button {
background: #06478c;
padding: 5px;
width: 100px;
margin-top: 7px;
border: none;
border-radius: 15px;
margin-bottom: 10px;
color: white;
font-size: 1em;
}

button:hover {
  background-color: #181852;
  transition: .5s;
}

.AddProject {
  padding-top: 10px;
  background-color: #333333ff;
}

.imgPost{
  max-width: 45vw;
  max-height: 400px 
}
h1 {
  margin-bottom: 10px;
color: #282b58;
padding-bottom: 10px;
text-align: left;
padding-left: 10px;
margin-left: 34px;
}

h3 {
  text-align: left;
padding-left: 10px;
color: white;
margin-left: 50px;
}

img {
  margin-top: 50px;
}

input {
  margin-left: 3px;
border-radius: 3px;
border: 1px solid gray;
background: white;
}

label {
  margin-left: 10px;
font-weight: 600;
color: #181852;
}

textarea {
  width: 43vw;
  height: 11vh;
  border: 2px solid gray;
  border-radius: 5px;
  margin-top: 20px;
}

